client.c
main_menu.c
client.c
data.txt
README.md
server
server.c
server.o
utensils.c
utensils.h
utensils.o
a.out
users.txt
appointments_log.txt
authentication
hospital
tabrez_appointments.txt
trash
trash.c
utpal_appointments.txt
zalak_appointments.txt
zalakthakkar_appointments.txt